/* Styles */

/* Base Styling */
html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
header {
  height: 22%;
  margin-bottom: 50px;
}

/* Content */
.left-section {
  text-align: left;
}

.left-section p {
  color: gray;
}

/* Responsive Design */
@media screen and (max-width: 915px) {
  .nav-items li /* vertical */ {
    display: grid;
  }
}

/* Filters Menu */

.color-choice {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 24px;
  margin-right: 10px;
  margin-top: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.color-ul li {
  display: inline;
}

.color-choice.green {
  background-color: green;
}
.color-choice.yellow {
  background-color: yellow;
}
.color-choice.orange {
  background-color: orange;
}
.color-choice.blue{
  background-color: blue;
}

.horizontal-line {
  margin-top: 16px;
  margin-left: 15%;
  background-color: lightgray;
  border-color: lightgray;
  color: #000;
  height: 1px;
  width: 70%;
  display: block;
}

.gray {
  color: lightgray;
}

.shapeSelect {
  background-color: azure;
}

/* Content - Two Columns */
#wrapper {
  margin-right: 800px;
}
.left-section {
  float: left;
  width: 800px;
}

.left-section img {
  padding-left: 25%;
}

.right-section {
  float: right;
  width: 100%;
  margin-right: -800px;
}
#cleared {
  clear: both;
}

.main-content {
  margin-left: 5%;
}

.back-button {
  color: black;
  background-color: lightgray;
  height: 30px;
  width: 75px;
  margin-left: 5%;
}

/* Right Section */

.right-section li {
  list-style-type: none;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

/* Pagination */
.pagination {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.pagination button {
  width: 150px;
  height: 40px;
  background-color: lightgray;
  color: darkgray;
}

.spacer {
  padding-top: 20px;
}

.spacer button {
  height: 50px;
  width: 100px;
  margin-right: 15px;
  color: white;
  background-color: #92704e
}

/* Footer */
footer {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-family: monospace;
}

.delete-item {
  height: 40px;
  background-color: #92704f;
  color: white;
  font-weight: 200;
}

.cart h1 {
  text-align: center;
}

.cart-item {
  margin-bottom: 50px;
}
