// Head
head
  // Browser/Content Settings
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  link(rel='stylesheet' type='text/css' href='stylesheets/HCo_fonts.css' media='all' onload="if(media!='all')media='all'")
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
  // Custom Configuration for Apple Devices
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black')
  meta(name='apple-mobile-web-app-title' content='Arshin Jain')
  link(rel='apple-touch-icon-precomposed' sizes='57x57' href='./images/logo/Logo-57.png')
  link(rel='apple-touch-icon-precomposed' sizes='72x72' href='./images/logo/Logo-72.png')
  link(rel='apple-touch-icon-precomposed' sizes='114x114' href='./images/logo/Logo-114.png')
  link(rel='apple-touch-icon-precomposed' sizes='144x144' href='./images/logo/Logo-144.png')
  // Browser/Content Settings End
  // Meta Data
  meta(charset='utf-8')
  title Arshin Jain &mdash; Building Exciting Products
  link(rel='shortcut icon' type='image/x-icon' href='./images/logo/favicon.png')
  link(rel='canonical' href='http://arshin.me/')
  meta(property='og:site_name' content='Arshin Jain')
  meta(property='og:title' content='Building Exciting Products')
  meta(property='og:url' content='http://arshin.me/')
  meta(property='og:type' content='website')
  meta(itemprop='name' content='Building Exciting Products')
  meta(itemprop='url' content='http://arshin.me/')
  meta(name='twitter:title' content='Building Exciting Products')
  meta(name='twitter:url' content='https://twitter.com/Arshinx')
  meta(name='twitter:card' content='summary')
  meta(name='description' content='Arshin.Me details various sections about Arshin, especially his projects, a brief description about him and a lot more! .')
  // Meta Data Ends
  // CSS
  link#stylesheet(rel='stylesheet' href='stylesheets/site(1).css')
  link#stylesheet(rel='stylesheet' href='stylesheets/style_2.css')
  link#stylesheet(rel='stylesheet' href='stylesheets/style_3.css')
  //if !IE
    | [if !IE]
  link#stylesheet(rel='stylesheet' href='stylesheets/style_1.css')
  // <![endif]
  // CSS Ends
  // Wow JS
  link(rel='stylesheet' type='text/css' href='stylesheets/animate.css')
  script(src='http://danyu.me/js/vendor/wow.min.js' type='text/javascript')
// Header
header#header-2016.header(role='banner')
  // Header Content
  .header-content
    // Logo + Title
    h1.logo
      a(href='http://www.arshin.me/')
        // Logo(s)
        span.full-logo
          svg#Large-Logo(data-name='Large Logo Brand' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1274.13 215.36')
            defs
              style.
                .cls-1{font-size:170px;font-family:SFUIDisplay-Thin, SF UI Display;}
                .cls-1,.logo-emblem{fill:#fff;}
                .logo-text{font-size:170px;fill:#fff;font-family:SFUIDisplay-Thin, SF UI Display;font-weight:300;letter-spacing:10px;}
            title Arshin Jain
            path.logo-emblem(d='M236.1,70.51l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0H224s-.16,0,.07,0l-.22,0-1.81-.24-.93-.12-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.62,82.62,0,0,0-9.24,2.8,119.31,119.31,0,0,0-19.2,9.25,189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57A398.55,398.55,0,0,0,97,134.77c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71A15.45,15.45,0,0,1,66.06,175c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L46.14,197l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76C68.7,150.56,77.67,138.9,87.93,127a410.45,410.45,0,0,1,34.29-35.59c6.24-5.69,12.7-11.17,19.35-16.24A201.48,201.48,0,0,1,162,61.26a131.21,131.21,0,0,1,21.14-10.17,94.55,94.55,0,0,1,10.62-3.22,78.66,78.66,0,0,1,10.42-1.7c1.71-.11,3.38-.21,5-.29a15.85,15.85,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.12,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M224.08,94l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47A62,62,0,0,0,184.78,91a113.42,113.42,0,0,0-15.31,9.24,186.75,186.75,0,0,0-15.28,12.1c-5,4.39-10,9.09-14.77,13.94a433.43,433.43,0,0,0-47.58,58.35c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L83,195.68c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5a197.65,197.65,0,0,1,16.18-12.81,124.29,124.29,0,0,1,16.8-10.13A72.83,72.83,0,0,1,197,75c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24A40.5,40.5,0,0,1,213,75.77a26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.52,16.52,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M288.92,105.86l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0h-.05s-.16,0,.07,0l-.22,0-1.81-.24L274,93.3l-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.61,82.61,0,0,0-9.24,2.8A119.31,119.31,0,0,0,220.9,107a189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57a398.55,398.55,0,0,0-33.28,34.55c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71a15.45,15.45,0,0,1-2.56,3.45c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L99,232.4l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76,7.31-10.27,16.27-21.93,26.53-33.88A410.45,410.45,0,0,1,175,126.71c6.24-5.69,12.7-11.17,19.35-16.24a201.47,201.47,0,0,1,20.43-13.85A131.21,131.21,0,0,1,236,86.45a94.55,94.55,0,0,1,10.62-3.22A78.65,78.65,0,0,1,257,81.53c1.71-.11,3.38-.21,5-.29a15.84,15.84,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.13,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M276.91,129.31l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47,62,62,0,0,0-14.48,5.2,113.42,113.42,0,0,0-15.31,9.24A186.75,186.75,0,0,0,207,147.71c-5,4.39-10,9.09-14.77,13.94A433.43,433.43,0,0,0,144.66,220c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L135.87,231c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5A197.66,197.66,0,0,1,216,126.62a124.3,124.3,0,0,1,16.8-10.13,72.83,72.83,0,0,1,17.1-6.11c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24,40.5,40.5,0,0,1,7.61,1.71,26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.51,16.51,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M75.5,74.7s1.18.54,3.35,1.62,5.38,2.62,9.35,4.75,8.87,4.59,14.34,7.64l8.76,4.78c3.08,1.68,6.27,3.52,9.63,5.4l10.4,6,11.07,6.47c7.57,4.48,15.53,9.23,23.7,14.26,4.11,2.48,8.23,5.08,12.42,7.71l6.33,4,6.35,4.12c4.25,2.8,8.57,5.58,12.9,8.73,2.18,1.58,4.37,3.2,6.72,5.17A38.57,38.57,0,0,1,214.7,159a18.84,18.84,0,0,1,2.58,3.66,13.89,13.89,0,0,1,1.4,4,12.52,12.52,0,0,1-.74,7c-.12.29-.26.58-.4.87.37-.52-1,1.73-.88,1.47l-.14.19s-.41.54-.61.77-.55.61-.84.89-.68.62-.83.73l-.58.44a12.09,12.09,0,0,1-1.17.75c-.35.19-.71.38-1.08.54s-.63.26-1,.39-.64.22-.91.3a17.46,17.46,0,0,1-4.87.66,32.06,32.06,0,0,1-5.78-.59,78.06,78.06,0,0,1-8.62-2.21c-5.32-1.63-10.2-3.6-15-5.54s-9.47-4-14-6.12-9-4.21-13.35-6.38c-8.69-4.29-16.95-8.66-24.71-12.91s-15-8.43-21.65-12.36c-3.31-2-6.5-3.86-9.48-5.74l-8.47-5.32c-5.33-3.3-9.87-6.39-13.63-8.89s-6.65-4.59-8.64-6-3-2.18-3-2.18l.54-1.07,12.61,6.24c8,4,19.53,9.55,33.33,16.26s30,14.4,47.48,22.19c8.76,3.89,17.85,7.81,27.22,11.43,4.68,1.8,9.44,3.54,14.27,5a67.4,67.4,0,0,0,7.29,1.82,21,21,0,0,0,3.59.37,6,6,0,0,0,1.57-.19,1.72,1.72,0,0,0,.5-.23c.1-.06,0,0,.08,0l.14-.2c0-.06-.1.14,0,0v0a.51.51,0,0,0,0-.27,2.09,2.09,0,0,0-.21-.55,7.49,7.49,0,0,0-1-1.32,27.79,27.79,0,0,0-2.64-2.54c-1.9-1.62-3.92-3.15-6-4.65-4.09-3-8.27-5.87-12.42-8.7l-24.52-16.52c-15.93-10.7-30.75-20.75-43.41-29.44S93.64,88.95,86.31,83.81L74.82,75.68Z' transform='translate(-44.16 -45.81)')
            text.logo-text(transform='translate(290 180)')
              tspan(font-family='Gotham SSm' xml:space='preserve') ARSHIN
        span.bug-logo
          svg#Small-Logo(data-name='Small Logo Brand' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1274.13 215.36')
            defs
              style.
                .cls-1{font-size:170px;font-family:SFUIDisplay-Thin, SF UI Display;}
                .cls-1,.logo-emblem-solo{fill:#fff;}
            title Arshin Jain
            path.logo-emblem-solo(d='M236.1,70.51l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0H224s-.16,0,.07,0l-.22,0-1.81-.24-.93-.12-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.62,82.62,0,0,0-9.24,2.8,119.31,119.31,0,0,0-19.2,9.25,189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57A398.55,398.55,0,0,0,97,134.77c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71A15.45,15.45,0,0,1,66.06,175c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L46.14,197l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76C68.7,150.56,77.67,138.9,87.93,127a410.45,410.45,0,0,1,34.29-35.59c6.24-5.69,12.7-11.17,19.35-16.24A201.48,201.48,0,0,1,162,61.26a131.21,131.21,0,0,1,21.14-10.17,94.55,94.55,0,0,1,10.62-3.22,78.66,78.66,0,0,1,10.42-1.7c1.71-.11,3.38-.21,5-.29a15.85,15.85,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.12,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M224.08,94l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47A62,62,0,0,0,184.78,91a113.42,113.42,0,0,0-15.31,9.24,186.75,186.75,0,0,0-15.28,12.1c-5,4.39-10,9.09-14.77,13.94a433.43,433.43,0,0,0-47.58,58.35c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L83,195.68c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5a197.65,197.65,0,0,1,16.18-12.81,124.29,124.29,0,0,1,16.8-10.13A72.83,72.83,0,0,1,197,75c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24A40.5,40.5,0,0,1,213,75.77a26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.52,16.52,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M288.92,105.86l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0h-.05s-.16,0,.07,0l-.22,0-1.81-.24L274,93.3l-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.61,82.61,0,0,0-9.24,2.8A119.31,119.31,0,0,0,220.9,107a189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57a398.55,398.55,0,0,0-33.28,34.55c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71a15.45,15.45,0,0,1-2.56,3.45c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L99,232.4l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76,7.31-10.27,16.27-21.93,26.53-33.88A410.45,410.45,0,0,1,175,126.71c6.24-5.69,12.7-11.17,19.35-16.24a201.47,201.47,0,0,1,20.43-13.85A131.21,131.21,0,0,1,236,86.45a94.55,94.55,0,0,1,10.62-3.22A78.65,78.65,0,0,1,257,81.53c1.71-.11,3.38-.21,5-.29a15.84,15.84,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.13,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M276.91,129.31l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47,62,62,0,0,0-14.48,5.2,113.42,113.42,0,0,0-15.31,9.24A186.75,186.75,0,0,0,207,147.71c-5,4.39-10,9.09-14.77,13.94A433.43,433.43,0,0,0,144.66,220c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L135.87,231c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5A197.66,197.66,0,0,1,216,126.62a124.3,124.3,0,0,1,16.8-10.13,72.83,72.83,0,0,1,17.1-6.11c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24,40.5,40.5,0,0,1,7.61,1.71,26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.51,16.51,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M75.5,74.7s1.18.54,3.35,1.62,5.38,2.62,9.35,4.75,8.87,4.59,14.34,7.64l8.76,4.78c3.08,1.68,6.27,3.52,9.63,5.4l10.4,6,11.07,6.47c7.57,4.48,15.53,9.23,23.7,14.26,4.11,2.48,8.23,5.08,12.42,7.71l6.33,4,6.35,4.12c4.25,2.8,8.57,5.58,12.9,8.73,2.18,1.58,4.37,3.2,6.72,5.17A38.57,38.57,0,0,1,214.7,159a18.84,18.84,0,0,1,2.58,3.66,13.89,13.89,0,0,1,1.4,4,12.52,12.52,0,0,1-.74,7c-.12.29-.26.58-.4.87.37-.52-1,1.73-.88,1.47l-.14.19s-.41.54-.61.77-.55.61-.84.89-.68.62-.83.73l-.58.44a12.09,12.09,0,0,1-1.17.75c-.35.19-.71.38-1.08.54s-.63.26-1,.39-.64.22-.91.3a17.46,17.46,0,0,1-4.87.66,32.06,32.06,0,0,1-5.78-.59,78.06,78.06,0,0,1-8.62-2.21c-5.32-1.63-10.2-3.6-15-5.54s-9.47-4-14-6.12-9-4.21-13.35-6.38c-8.69-4.29-16.95-8.66-24.71-12.91s-15-8.43-21.65-12.36c-3.31-2-6.5-3.86-9.48-5.74l-8.47-5.32c-5.33-3.3-9.87-6.39-13.63-8.89s-6.65-4.59-8.64-6-3-2.18-3-2.18l.54-1.07,12.61,6.24c8,4,19.53,9.55,33.33,16.26s30,14.4,47.48,22.19c8.76,3.89,17.85,7.81,27.22,11.43,4.68,1.8,9.44,3.54,14.27,5a67.4,67.4,0,0,0,7.29,1.82,21,21,0,0,0,3.59.37,6,6,0,0,0,1.57-.19,1.72,1.72,0,0,0,.5-.23c.1-.06,0,0,.08,0l.14-.2c0-.06-.1.14,0,0v0a.51.51,0,0,0,0-.27,2.09,2.09,0,0,0-.21-.55,7.49,7.49,0,0,0-1-1.32,27.79,27.79,0,0,0-2.64-2.54c-1.9-1.62-3.92-3.15-6-4.65-4.09-3-8.27-5.87-12.42-8.7l-24.52-16.52c-15.93-10.7-30.75-20.75-43.41-29.44S93.64,88.95,86.31,83.81L74.82,75.68Z' transform='translate(-44.16 -45.81)')
        // Site Brand Name
        span.name Arshin
    // Navigation
    nav#product-header-navigation.product-header-navigation(data-content-field='products')
      ul
        //
          <li class="internal domains ">
          <a href="http://www.arshin.me/initiatives/">Initiatives</a>
          </li>
        li.internal.websites
          a(href='/projects') Projects
        li.internal.domains
          a(href='mailto:arshin.jain@outlook.com') Contact Me
  // End Header Content
// End Header
span#hero.march-2016.animated.fadeIn
  #hero-carousel-images.hero-images(style='background-color: #e2e2e2;')
    .hero-image.background-video.you-should.overview
      .mobile-image
        noscript(data-src='//images/assets/initiate/A.jpg')
        noscript(data-src='//images/assets/initiate/B.jpg')
        noscript(data-src='//images/assets/initiate/C.jpg')
        noscript(data-src='//images/assets/initiate/D.jpg')
        noscript(data-src='//images/assets/initiate/A.jpg')
        noscript(data-src='//images/assets/initiate/A.jpg')
      .video
        video(autobuffer='true' loop='true' muted='true' data-poster='/images/assets/initiate/G.jpg' data-src='')
      .scrim
    // Background Images for Carousel below
    .hero-image.coverpages.is--active.is--loaded(style='background-image: url("./images/logo/brand-bg.jpg");' data-image='../images/logo/brand-bg.jpg')
      .scrim
    // End Section
  // Carousel - Main Section
  #hero-carousel-content
    .copy-carousel.animated.fadeIn
      ol.copy-carousel-slides
        // Main Text
        li.copy-carousel-slide.coverpages.is--active
          .text-lockup
            h1.animated.slideInLeft Arshin Jain
            p.animated.slideInUp
              span
                | Building great&nbsp;products featuring Computer Vision, AI and Machine Learning Capabilities.
              br
              span Working&nbsp;with&nbsp;Mobile,&nbsp;Web&nbsp;and&nbsp;Wearable&nbsp;Technologies.
            // <a href="http://www.arshin.me/" class="sqs-block-button-element--medium sqs-block-button-element cta">Get Started</a>
  a#hero-arrow(href='#')
// End Carousel
// Customers
#customers-2018
  section#featured-customers
    .text.animated.fadeIn
      h2.text-title.animated.zoomIn Trusted By Leading&nbsp;Brands
      p.text-description
        | Crafting amazing experiences wherever I go.
      a.button.text-button.is-knockout(href='#') See All Projects -&gt;
    .customer-logos-grid.animated.fadeIn
      a.customer-logo.is-borderless.is--visible(href='http://www.masanyc.com/' name='masanyc' data-base-template='marquee-demo')
        img.customer-logo-image.is-loaded(data-load='true' data-image-dimensions='100x37' data-src='https://static1.squarespace.com/static/images/57fea7e43e00bebf285e0a62' alt='masanyc' src='https://static1.squarespace.com/static/images/57fea7e43e00bebf285e0a62?format=300w' data-image-resolution='300w' style='')
      a.customer-logo.is-borderless.is--visible(href='https://www.jhannahjewelry.com/' name='jessica-revesz-xcc0' data-base-template='clay-demo')
        img.customer-logo-image.is-loaded(data-load='true' data-image-dimensions='100x37' data-src='https://static1.squarespace.com/static/images/57fe9f529de4bb21f5bf8472' alt='jessica-revesz-xcc0' src=' images/brands/J.Hannah.jpg' data-image-resolution='300w' style='')
      a.customer-logo.is-borderless.is--visible(href='https://mission-chinese.squarespace.com/' name='mission-chinese' data-base-template='carson-demo')
        img.customer-logo-image.is-loaded(data-load='true' data-image-dimensions='100x37' data-src='https://static1.squarespace.com/static/images/59b0713ad55b41f0f336e42e' alt='mission-chinese' src=' images/brands/MissionChineseLogo_300x112+(1).jpg' data-image-resolution='300w' style='')
      a.customer-logo.is-borderless.is--visible(href='http://www.tonyhawk.com/' name='jaimie-muehlhausen-emc0' data-base-template='adversary-demo')
        img.customer-logo-image.is-loaded(data-load='true' data-image-dimensions='100x37' data-src='https://static1.squarespace.com/static/images/57feaa692994cab82c6cc9a3' alt='jaimie-muehlhausen-emc0' src=' images/brands/Tony+Hawk.jpg' data-image-resolution='300w' style='')
      a.customer-logo.is-borderless.is--visible(href='https://www.shhhowercap.com/' name='jacquelyn-dejesu-r4yg' data-base-template='pacific-demo')
        img.customer-logo-image.is-loaded(data-load='true' data-image-dimensions='100x37' data-src='https://static1.squarespace.com/static/images/57fea921e3df287b2fb324bc' alt='jacquelyn-dejesu-r4yg' src=' images/brands/Shhhower+cap.jpg' data-image-resolution='300w' style='')
      a.customer-logo.is-borderless.is--visible(href='http://www.dannyclinch.com/' name='dannyclinch' data-base-template='dannyclinch')
        img.customer-logo-image.is-loaded(data-load='true' data-image-dimensions='100x37' data-src='https://static1.squarespace.com/static/images/57fe9e455016e1d72fc8214a' alt='dannyclinch' src=' images/brands/Danny+Clinch.jpg' data-image-resolution='300w' style='')
    br
    br
    .customers-gallery.initialized.completed.animated.fadeIn(style='')
      a.is-borderless.gallery-slide(data-analytics-id='danny_bowien' href='' data-arrival-index='7' data-departure-index='1')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/danny-bowien.jpg?2' alt='' src=' images/portfolio/Monster-Slide.png' style='height:100%;' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title Monster Slide
        p.slide-subtitle Help Dennis Navigate the Monster-filled Slopes
      a.is-borderless.gallery-slide(data-analytics-id='sadie_williams' href='#' data-arrival-index='0' data-departure-index='0')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='images/portfolio/Tibbit-Talk.png' alt='#' src='images/portfolio/Tibbit-Talk.png' style='height:  100%; width:  auto;' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title Tibbit Talk
        p.slide-subtitle(variant='feminine') Simple &amp; Easy Communication
      a.is-borderless.gallery-slide(data-analytics-id='daniel_arsham' href='https://www.squarespace.com/daniel-arsham' data-arrival-index='1' data-departure-index='7')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/daniel-arsham.jpg?2' alt='Daniel Arsham, artist' src=' images/portfolio/Tibbit-Dreams.png' style='height:  100%;' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title Bit Dreams App
        p.slide-subtitle Make your Dreams a Memory
      a.is-borderless.gallery-slide(data-analytics-id='john_malkovich' href='https://www.squarespace.com/john' data-arrival-index='2' data-departure-index='6')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/john-malkovich.jpg?2' alt='John Malkovich, fashion designer' src=' images/portfolio/Chirp.png' style='height:  100%; width:  auto;' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title Reflect
        p.slide-subtitle Puzzle Platform Game
      a.is-borderless.gallery-slide(data-analytics-id='sarah_levey' data-use-preview='' href='https://www.y7-studio.com/' target='_blank' data-arrival-index='3' data-departure-index='5')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/sarah-levey.jpg?2' alt='Sarah Levey, co-founder of Y7 Hip Hop Yoga Studio' src='images/people/sarah-levey-1000w.jpg' style='height:  100%; width:  auto;' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title  Levey
        p.slide-subtitle Y7 Hip Hop Yoga Studio Web
      a.is-borderless.gallery-slide(data-analytics-id='lyon_porter' data-use-preview='' href='https://urbancowboybnb.com/' target='_blank' data-arrival-index='4' data-departure-index='4')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/lyon-porter.jpg?2' alt='Lyon Porter, founder of Urban Cowboy Bed and Breakfast' src=' images/people/lyon-porter-1000w.jpg' style='' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title Lyon
        p.slide-subtitle Urban Cowboy B&amp;B Web
      a.is-borderless.gallery-slide(data-analytics-id='tom_delavan' data-use-preview='' href='https://tomdelavan.com/' target='_blank' data-arrival-index='5' data-departure-index='3')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/tom-delavan.jpg?2' alt='Tom Delavan, interior designer' src=' images/people/tom-delavan-1000w.jpg' style='' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title  Delavan
        p.slide-subtitle Interior Design Project
      a.is-borderless.gallery-slide(data-analytics-id='keanu_reeves' href='https://www.squarespace.com/keanu' data-arrival-index='6' data-departure-index='2')
        .slide-image
          img.is-loaded(data-image-dimensions='100x119' data-size-format='filename' data-src='https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9315/assets/blocks/content/home-summer-2017/featured-customers/keanu-reeves.jpg' alt='Keanu Reeves, actor and co-founder of Arch Motorcycle' src='images/portfolio/Pokemon.jpg' style='height:100%;' data-image-resolution='1000w')
        .website-rollover
          button.website-rollover-button(data-direct='true')
            | View Project
        h3.slide-title PokeFacts
        p.slide-subtitle Poke Reimagined!

nav#detail-nav.nav-home-subnav(data-sticky='')
  a.logo(href='http://www.arshin.me/')
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 29.5 24')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M18.5 6.5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-9.3 9.3c-1.3 1.3-3.5 1.3-4.8 0-.6-.6-1-1.5-1-2.4s.4-1.8 1-2.4l7.5-7.5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0L1.7 8.2c-2.1 2.1-2.1 5.5 0 7.6 1 1 2.4 1.6 3.8 1.6s2.7-.5 3.8-1.6l9.2-9.3zM4.8 12.7c.2.2.4.3.7.3.2 0 .5-.1.7-.3l9.3-9.3c.6-.6 1.5-1 2.4-1 .9 0 1.8.4 2.4 1 .4.4 1 .4 1.4 0 .3-.4.3-1-.1-1.4-1-1-2.4-1.6-3.8-1.6S15 1 14 2l-9.3 9.3c-.3.4-.3 1 .1 1.4zm23-4.5c-2.1-2.1-5.5-2.1-7.6 0L11 17.5c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l9.3-9.3c.6-.6 1.5-1 2.4-1s1.8.4 2.4 1c1.3 1.3 1.3 3.5 0 4.8L19 21.9c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.2 0 .5-.1.7-.3l7.5-7.5c2-2.1 2-5.5-.1-7.6zm-3.1 3.1c-.4-.4-1-.4-1.4 0L14 20.6c-1.3 1.3-3.5 1.3-4.8 0-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4 1 1 2.4 1.6 3.8 1.6s2.7-.5 3.8-1.6l9.3-9.3c.4-.4.4-1 0-1.4z')
// End Sub - Navigation bar
main#content.content.page-tourcover-page(role='main' data-content-field='main-content' data-url-id='collection-571dfa6207eaa0d25595cab7')
  .router-content.is-active(data-visited='/tour/cover-page/')
    section#coverpages-page.tour-content
      // Intro Detail Section
      article.universal-block.support.clear.tour-block(style='background-color: #fff;')
        .container.clear.tour-block-content
          figure
            img.customer-care-image.animated.bounceInLeft(src='./images/logo/arshin.png' style='max-width: 300px; border-radius: 15px;')
          figcaption.tour-featured-caption
            h2
            a.site-description.animated.bounce(data-site-preview='true' target='_blank' data-base-template='Momentum' style='font-size: 36px;')
              strong Hi! I am Arshin
            p.animated.zoomIn
              | I&rsquo;m a maker &ndash; a strategic thinker and multifaceted digital product developer that specializes in creating innovative digital experiences.
              br
              |                       My approach combines strategic business acumen, technical knowledge, and hands-on design skills.
          figcaption
            h2
    // Connect Section
    footer#footer-2016.footer
      .container
        .footer-brand
          a(href='http://www.arshin.me')
            // Full Logo
            .footer-logo-full
              svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1274.13 215.36')
                defs
                  style.
                    .cls-1{font-size:170px;font-family:SFUIDisplay-Thin, SF UI Display;}.cls-1,.cls-3{fill:#fff;}.cls-2{font-size:170px;fill:#000;font-family:SFUIDisplay-Thin, SF UI Display;font-weight:300;letter-spacing:10px;}.color-dark{fill:#000;}
                title Arshin Jain
                path.cls-3.color-dark(d='M236.1,70.51l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0H224s-.16,0,.07,0l-.22,0-1.81-.24-.93-.12-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.62,82.62,0,0,0-9.24,2.8,119.31,119.31,0,0,0-19.2,9.25,189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57A398.55,398.55,0,0,0,97,134.77c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71A15.45,15.45,0,0,1,66.06,175c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L46.14,197l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76C68.7,150.56,77.67,138.9,87.93,127a410.45,410.45,0,0,1,34.29-35.59c6.24-5.69,12.7-11.17,19.35-16.24A201.48,201.48,0,0,1,162,61.26a131.21,131.21,0,0,1,21.14-10.17,94.55,94.55,0,0,1,10.62-3.22,78.66,78.66,0,0,1,10.42-1.7c1.71-.11,3.38-.21,5-.29a15.85,15.85,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.12,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
                path.cls-3.color-dark(d='M224.08,94l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47A62,62,0,0,0,184.78,91a113.42,113.42,0,0,0-15.31,9.24,186.75,186.75,0,0,0-15.28,12.1c-5,4.39-10,9.09-14.77,13.94a433.43,433.43,0,0,0-47.58,58.35c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L83,195.68c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5a197.65,197.65,0,0,1,16.18-12.81,124.29,124.29,0,0,1,16.8-10.13A72.83,72.83,0,0,1,197,75c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24A40.5,40.5,0,0,1,213,75.77a26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.52,16.52,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
                path.cls-3.color-dark(d='M288.92,105.86l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0h-.05s-.16,0,.07,0l-.22,0-1.81-.24L274,93.3l-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.61,82.61,0,0,0-9.24,2.8A119.31,119.31,0,0,0,220.9,107a189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57a398.55,398.55,0,0,0-33.28,34.55c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71a15.45,15.45,0,0,1-2.56,3.45c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L99,232.4l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76,7.31-10.27,16.27-21.93,26.53-33.88A410.45,410.45,0,0,1,175,126.71c6.24-5.69,12.7-11.17,19.35-16.24a201.47,201.47,0,0,1,20.43-13.85A131.21,131.21,0,0,1,236,86.45a94.55,94.55,0,0,1,10.62-3.22A78.65,78.65,0,0,1,257,81.53c1.71-.11,3.38-.21,5-.29a15.84,15.84,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.13,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
                path.cls-3.color-dark(d='M276.91,129.31l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47,62,62,0,0,0-14.48,5.2,113.42,113.42,0,0,0-15.31,9.24A186.75,186.75,0,0,0,207,147.71c-5,4.39-10,9.09-14.77,13.94A433.43,433.43,0,0,0,144.66,220c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L135.87,231c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5A197.66,197.66,0,0,1,216,126.62a124.3,124.3,0,0,1,16.8-10.13,72.83,72.83,0,0,1,17.1-6.11c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24,40.5,40.5,0,0,1,7.61,1.71,26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.51,16.51,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
                path.cls-3.color-dark(d='M75.5,74.7s1.18.54,3.35,1.62,5.38,2.62,9.35,4.75,8.87,4.59,14.34,7.64l8.76,4.78c3.08,1.68,6.27,3.52,9.63,5.4l10.4,6,11.07,6.47c7.57,4.48,15.53,9.23,23.7,14.26,4.11,2.48,8.23,5.08,12.42,7.71l6.33,4,6.35,4.12c4.25,2.8,8.57,5.58,12.9,8.73,2.18,1.58,4.37,3.2,6.72,5.17A38.57,38.57,0,0,1,214.7,159a18.84,18.84,0,0,1,2.58,3.66,13.89,13.89,0,0,1,1.4,4,12.52,12.52,0,0,1-.74,7c-.12.29-.26.58-.4.87.37-.52-1,1.73-.88,1.47l-.14.19s-.41.54-.61.77-.55.61-.84.89-.68.62-.83.73l-.58.44a12.09,12.09,0,0,1-1.17.75c-.35.19-.71.38-1.08.54s-.63.26-1,.39-.64.22-.91.3a17.46,17.46,0,0,1-4.87.66,32.06,32.06,0,0,1-5.78-.59,78.06,78.06,0,0,1-8.62-2.21c-5.32-1.63-10.2-3.6-15-5.54s-9.47-4-14-6.12-9-4.21-13.35-6.38c-8.69-4.29-16.95-8.66-24.71-12.91s-15-8.43-21.65-12.36c-3.31-2-6.5-3.86-9.48-5.74l-8.47-5.32c-5.33-3.3-9.87-6.39-13.63-8.89s-6.65-4.59-8.64-6-3-2.18-3-2.18l.54-1.07,12.61,6.24c8,4,19.53,9.55,33.33,16.26s30,14.4,47.48,22.19c8.76,3.89,17.85,7.81,27.22,11.43,4.68,1.8,9.44,3.54,14.27,5a67.4,67.4,0,0,0,7.29,1.82,21,21,0,0,0,3.59.37,6,6,0,0,0,1.57-.19,1.72,1.72,0,0,0,.5-.23c.1-.06,0,0,.08,0l.14-.2c0-.06-.1.14,0,0v0a.51.51,0,0,0,0-.27,2.09,2.09,0,0,0-.21-.55,7.49,7.49,0,0,0-1-1.32,27.79,27.79,0,0,0-2.64-2.54c-1.9-1.62-3.92-3.15-6-4.65-4.09-3-8.27-5.87-12.42-8.7l-24.52-16.52c-15.93-10.7-30.75-20.75-43.41-29.44S93.64,88.95,86.31,83.81L74.82,75.68Z' transform='translate(-44.16 -45.81)')
                text.cls-2(transform='translate(290 180)')
                  tspan(font-family='Gotham SSm' xml:space='preserve') ARSHIN
            // Logo Symbol
            .footer-logo-mark
              svg#Small-Logo(data-name='Small Logo Brand' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 400 215.36')
                defs
                  style.
                    .cls-1{font-size:170px;font-family:SFUIDisplay-Thin, SF UI Display;}
                    .cls-1,.mid-emblem-solo{fill:#000;}
                title Arshin Jain
                path.mid-emblem-solo(d='M236.1,70.51l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0H224s-.16,0,.07,0l-.22,0-1.81-.24-.93-.12-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.62,82.62,0,0,0-9.24,2.8,119.31,119.31,0,0,0-19.2,9.25,189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57A398.55,398.55,0,0,0,97,134.77c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71A15.45,15.45,0,0,1,66.06,175c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L46.14,197l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76C68.7,150.56,77.67,138.9,87.93,127a410.45,410.45,0,0,1,34.29-35.59c6.24-5.69,12.7-11.17,19.35-16.24A201.48,201.48,0,0,1,162,61.26a131.21,131.21,0,0,1,21.14-10.17,94.55,94.55,0,0,1,10.62-3.22,78.66,78.66,0,0,1,10.42-1.7c1.71-.11,3.38-.21,5-.29a15.85,15.85,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.12,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
                path.mid-emblem-solo(d='M224.08,94l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47A62,62,0,0,0,184.78,91a113.42,113.42,0,0,0-15.31,9.24,186.75,186.75,0,0,0-15.28,12.1c-5,4.39-10,9.09-14.77,13.94a433.43,433.43,0,0,0-47.58,58.35c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L83,195.68c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5a197.65,197.65,0,0,1,16.18-12.81,124.29,124.29,0,0,1,16.8-10.13A72.83,72.83,0,0,1,197,75c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24A40.5,40.5,0,0,1,213,75.77a26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.52,16.52,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
                path.mid-emblem-solo(d='M288.92,105.86l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0h-.05s-.16,0,.07,0l-.22,0-1.81-.24L274,93.3l-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.61,82.61,0,0,0-9.24,2.8A119.31,119.31,0,0,0,220.9,107a189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57a398.55,398.55,0,0,0-33.28,34.55c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71a15.45,15.45,0,0,1-2.56,3.45c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L99,232.4l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76,7.31-10.27,16.27-21.93,26.53-33.88A410.45,410.45,0,0,1,175,126.71c6.24-5.69,12.7-11.17,19.35-16.24a201.47,201.47,0,0,1,20.43-13.85A131.21,131.21,0,0,1,236,86.45a94.55,94.55,0,0,1,10.62-3.22A78.65,78.65,0,0,1,257,81.53c1.71-.11,3.38-.21,5-.29a15.84,15.84,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.13,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
                path.mid-emblem-solo(d='M276.91,129.31l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47,62,62,0,0,0-14.48,5.2,113.42,113.42,0,0,0-15.31,9.24A186.75,186.75,0,0,0,207,147.71c-5,4.39-10,9.09-14.77,13.94A433.43,433.43,0,0,0,144.66,220c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L135.87,231c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5A197.66,197.66,0,0,1,216,126.62a124.3,124.3,0,0,1,16.8-10.13,72.83,72.83,0,0,1,17.1-6.11c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24,40.5,40.5,0,0,1,7.61,1.71,26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.51,16.51,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
                path.mid-emblem-solo(d='M75.5,74.7s1.18.54,3.35,1.62,5.38,2.62,9.35,4.75,8.87,4.59,14.34,7.64l8.76,4.78c3.08,1.68,6.27,3.52,9.63,5.4l10.4,6,11.07,6.47c7.57,4.48,15.53,9.23,23.7,14.26,4.11,2.48,8.23,5.08,12.42,7.71l6.33,4,6.35,4.12c4.25,2.8,8.57,5.58,12.9,8.73,2.18,1.58,4.37,3.2,6.72,5.17A38.57,38.57,0,0,1,214.7,159a18.84,18.84,0,0,1,2.58,3.66,13.89,13.89,0,0,1,1.4,4,12.52,12.52,0,0,1-.74,7c-.12.29-.26.58-.4.87.37-.52-1,1.73-.88,1.47l-.14.19s-.41.54-.61.77-.55.61-.84.89-.68.62-.83.73l-.58.44a12.09,12.09,0,0,1-1.17.75c-.35.19-.71.38-1.08.54s-.63.26-1,.39-.64.22-.91.3a17.46,17.46,0,0,1-4.87.66,32.06,32.06,0,0,1-5.78-.59,78.06,78.06,0,0,1-8.62-2.21c-5.32-1.63-10.2-3.6-15-5.54s-9.47-4-14-6.12-9-4.21-13.35-6.38c-8.69-4.29-16.95-8.66-24.71-12.91s-15-8.43-21.65-12.36c-3.31-2-6.5-3.86-9.48-5.74l-8.47-5.32c-5.33-3.3-9.87-6.39-13.63-8.89s-6.65-4.59-8.64-6-3-2.18-3-2.18l.54-1.07,12.61,6.24c8,4,19.53,9.55,33.33,16.26s30,14.4,47.48,22.19c8.76,3.89,17.85,7.81,27.22,11.43,4.68,1.8,9.44,3.54,14.27,5a67.4,67.4,0,0,0,7.29,1.82,21,21,0,0,0,3.59.37,6,6,0,0,0,1.57-.19,1.72,1.72,0,0,0,.5-.23c.1-.06,0,0,.08,0l.14-.2c0-.06-.1.14,0,0v0a.51.51,0,0,0,0-.27,2.09,2.09,0,0,0-.21-.55,7.49,7.49,0,0,0-1-1.32,27.79,27.79,0,0,0-2.64-2.54c-1.9-1.62-3.92-3.15-6-4.65-4.09-3-8.27-5.87-12.42-8.7l-24.52-16.52c-15.93-10.7-30.75-20.75-43.41-29.44S93.64,88.95,86.31,83.81L74.82,75.68Z' transform='translate(-44.16 -45.81)')
              // Section Caption
              a.footer-nav-heading(style='font-size: 15px;') Social
          // Currency Selection Not Required - (Removed)
        // Sub Navigation Bar for Social Media
        nav.footer-nav
          .footer-nav-list
            p.footer-nav-heading LinkedIn
            .footer-nav-content.contains-1
              a.footer-nav-link.is--external(href='https://www.linkedin.com/in/arshin' target='_blank') Connect
          .footer-nav-list
            p.footer-nav-heading Behance
            .footer-nav-content.contains-1
              a.footer-nav-link.is--external(href='https://www.behance.net/Arshinx' target='_blank') Appreciate
          .footer-nav-list
            p.footer-nav-heading Github
            .footer-nav-content.contains-1
              a.footer-nav-link.is--external(href='https://www.github.com/arshinx') Collaborate
          .footer-nav-list
            p.footer-nav-heading Twitter
            .footer-nav-content.contains-1
              a.footer-nav-link.is--external(href='https://www.twitter.com/Arshinx' target='_blank') Follow
    // Connect Section ends
