extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Work on Cool Projects
    p.lead Join our Team to work on some of the most innovative projects!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started
