
// Head
head
  // Browser/Content Settings
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  link(rel='stylesheet' type='text/css' href='stylesheets/HCo_fonts.css' media='all' onload="if(media!='all')media='all'")
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
  // Custom Configuration for Apple Devices
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='black')
  meta(name='apple-mobile-web-app-title' content='Arshin Jain')
  link(rel='apple-touch-icon-precomposed' sizes='57x57' href='images/logo/Logo-57.png')
  link(rel='apple-touch-icon-precomposed' sizes='72x72' href='images/logo/Logo-72.png')
  link(rel='apple-touch-icon-precomposed' sizes='114x114' href='images/logo/Logo-114.png')
  link(rel='apple-touch-icon-precomposed' sizes='144x144' href='images/logo/Logo-144.png')
  // Browser/Content Settings End
  // Meta Data
  meta(charset='utf-8')
  title Arshin Jain &mdash; Projects
  link(rel='shortcut icon' type='image/x-icon' href='.images/logo/favicon.png')
  link(rel='canonical' href='http://arshin.me/')
  meta(property='og:site_name' content='Arshin Jain')
  meta(property='og:title' content='Building Exciting Products')
  meta(property='og:url' content='http://arshin.me/')
  meta(property='og:type' content='website')
  meta(property='og:image' content='http://www.arshin.me/img/logo/favicon.png')
  meta(itemprop='name' content='Building Exciting Products')
  meta(itemprop='url' content='http://arshin.me/')
  meta(name='twitter:title' content='Building Exciting Products')
  meta(name='twitter:url' content='https://twitter.com/Arshinx')
  meta(name='twitter:card' content='summary')
  meta(name='description' content="Arshin.Me - Arshin's Personal Website, introduces Arshin, provides details about his projects, and a lot more! .")
  link(rel='alternate' hreflang='nl' href='http://www.arshin.me')
  link(rel='alternate' hreflang='x-default' href='http://www.arshin.me/')
  link(rel='alternate' hreflang='en' href='http://www.arshin.me')
  // Meta Data Ends
  // CSS
  link#stylesheet(rel='stylesheet' href='stylesheets/animate.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  link#stylesheet(rel='stylesheet' href='stylesheets/style_2.css')
  // CSS Ends
  // Product Links - CSS & JS
  link(rel='stylesheet' href='stylesheets/project_styles.css')
  script(src='js/modernizr-2.8.0.min.js')
  script(type='text/javascript').
    console.clear();
  script(src='js/wow.min.js')
  script.
    new WOW().init();
  // Product Links End
// Header
header#header-2016.header(role='banner')
  // Header Content
  .header-content
    // Logo + Title
    h1.logo
      a(href='../index.html')
        // Logo(s)
        span.full-logo
          svg#Large-Logo(data-name='Large Logo Brand' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1274.13 215.36')
            defs
              style.
                .cls-1{font-size:170px;font-family:SFUIDisplay-Thin, SF UI Display;}
                .cls-1,.logo-emblem{fill:#fff;}
                .logo-text{font-size:170px;fill:#fff;font-family:SFUIDisplay-Thin, SF UI Display;font-weight:300;letter-spacing:10px;}
            title Arshin Jain
            path.logo-emblem(d='M236.1,70.51l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0H224s-.16,0,.07,0l-.22,0-1.81-.24-.93-.12-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.62,82.62,0,0,0-9.24,2.8,119.31,119.31,0,0,0-19.2,9.25,189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57A398.55,398.55,0,0,0,97,134.77c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71A15.45,15.45,0,0,1,66.06,175c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L46.14,197l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76C68.7,150.56,77.67,138.9,87.93,127a410.45,410.45,0,0,1,34.29-35.59c6.24-5.69,12.7-11.17,19.35-16.24A201.48,201.48,0,0,1,162,61.26a131.21,131.21,0,0,1,21.14-10.17,94.55,94.55,0,0,1,10.62-3.22,78.66,78.66,0,0,1,10.42-1.7c1.71-.11,3.38-.21,5-.29a15.85,15.85,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.12,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M224.08,94l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47A62,62,0,0,0,184.78,91a113.42,113.42,0,0,0-15.31,9.24,186.75,186.75,0,0,0-15.28,12.1c-5,4.39-10,9.09-14.77,13.94a433.43,433.43,0,0,0-47.58,58.35c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L83,195.68c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5a197.65,197.65,0,0,1,16.18-12.81,124.29,124.29,0,0,1,16.8-10.13A72.83,72.83,0,0,1,197,75c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24A40.5,40.5,0,0,1,213,75.77a26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.52,16.52,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M288.92,105.86l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0h-.05s-.16,0,.07,0l-.22,0-1.81-.24L274,93.3l-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.61,82.61,0,0,0-9.24,2.8A119.31,119.31,0,0,0,220.9,107a189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57a398.55,398.55,0,0,0-33.28,34.55c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71a15.45,15.45,0,0,1-2.56,3.45c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L99,232.4l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76,7.31-10.27,16.27-21.93,26.53-33.88A410.45,410.45,0,0,1,175,126.71c6.24-5.69,12.7-11.17,19.35-16.24a201.47,201.47,0,0,1,20.43-13.85A131.21,131.21,0,0,1,236,86.45a94.55,94.55,0,0,1,10.62-3.22A78.65,78.65,0,0,1,257,81.53c1.71-.11,3.38-.21,5-.29a15.84,15.84,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.13,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M276.91,129.31l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47,62,62,0,0,0-14.48,5.2,113.42,113.42,0,0,0-15.31,9.24A186.75,186.75,0,0,0,207,147.71c-5,4.39-10,9.09-14.77,13.94A433.43,433.43,0,0,0,144.66,220c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L135.87,231c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5A197.66,197.66,0,0,1,216,126.62a124.3,124.3,0,0,1,16.8-10.13,72.83,72.83,0,0,1,17.1-6.11c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24,40.5,40.5,0,0,1,7.61,1.71,26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.51,16.51,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem(d='M75.5,74.7s1.18.54,3.35,1.62,5.38,2.62,9.35,4.75,8.87,4.59,14.34,7.64l8.76,4.78c3.08,1.68,6.27,3.52,9.63,5.4l10.4,6,11.07,6.47c7.57,4.48,15.53,9.23,23.7,14.26,4.11,2.48,8.23,5.08,12.42,7.71l6.33,4,6.35,4.12c4.25,2.8,8.57,5.58,12.9,8.73,2.18,1.58,4.37,3.2,6.72,5.17A38.57,38.57,0,0,1,214.7,159a18.84,18.84,0,0,1,2.58,3.66,13.89,13.89,0,0,1,1.4,4,12.52,12.52,0,0,1-.74,7c-.12.29-.26.58-.4.87.37-.52-1,1.73-.88,1.47l-.14.19s-.41.54-.61.77-.55.61-.84.89-.68.62-.83.73l-.58.44a12.09,12.09,0,0,1-1.17.75c-.35.19-.71.38-1.08.54s-.63.26-1,.39-.64.22-.91.3a17.46,17.46,0,0,1-4.87.66,32.06,32.06,0,0,1-5.78-.59,78.06,78.06,0,0,1-8.62-2.21c-5.32-1.63-10.2-3.6-15-5.54s-9.47-4-14-6.12-9-4.21-13.35-6.38c-8.69-4.29-16.95-8.66-24.71-12.91s-15-8.43-21.65-12.36c-3.31-2-6.5-3.86-9.48-5.74l-8.47-5.32c-5.33-3.3-9.87-6.39-13.63-8.89s-6.65-4.59-8.64-6-3-2.18-3-2.18l.54-1.07,12.61,6.24c8,4,19.53,9.55,33.33,16.26s30,14.4,47.48,22.19c8.76,3.89,17.85,7.81,27.22,11.43,4.68,1.8,9.44,3.54,14.27,5a67.4,67.4,0,0,0,7.29,1.82,21,21,0,0,0,3.59.37,6,6,0,0,0,1.57-.19,1.72,1.72,0,0,0,.5-.23c.1-.06,0,0,.08,0l.14-.2c0-.06-.1.14,0,0v0a.51.51,0,0,0,0-.27,2.09,2.09,0,0,0-.21-.55,7.49,7.49,0,0,0-1-1.32,27.79,27.79,0,0,0-2.64-2.54c-1.9-1.62-3.92-3.15-6-4.65-4.09-3-8.27-5.87-12.42-8.7l-24.52-16.52c-15.93-10.7-30.75-20.75-43.41-29.44S93.64,88.95,86.31,83.81L74.82,75.68Z' transform='translate(-44.16 -45.81)')
            text.logo-text(transform='translate(290 180)')
              tspan(font-family='Gotham SSm' xml:space='preserve') ARSHIN
        span.bug-logo
          svg#Small-Logo(data-name='Small Logo Brand' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1274.13 215.36')
            defs
              style.
                .cls-1{font-size:170px;font-family:SFUIDisplay-Thin, SF UI Display;}
                logo-emblem-solo{fill:#fff;}
            title Arshin Jain
            path.logo-emblem-solo(d='M236.1,70.51l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0H224s-.16,0,.07,0l-.22,0-1.81-.24-.93-.12-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.62,82.62,0,0,0-9.24,2.8,119.31,119.31,0,0,0-19.2,9.25,189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57A398.55,398.55,0,0,0,97,134.77c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71A15.45,15.45,0,0,1,66.06,175c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L46.14,197l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76C68.7,150.56,77.67,138.9,87.93,127a410.45,410.45,0,0,1,34.29-35.59c6.24-5.69,12.7-11.17,19.35-16.24A201.48,201.48,0,0,1,162,61.26a131.21,131.21,0,0,1,21.14-10.17,94.55,94.55,0,0,1,10.62-3.22,78.66,78.66,0,0,1,10.42-1.7c1.71-.11,3.38-.21,5-.29a15.85,15.85,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.12,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M224.08,94l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47A62,62,0,0,0,184.78,91a113.42,113.42,0,0,0-15.31,9.24,186.75,186.75,0,0,0-15.28,12.1c-5,4.39-10,9.09-14.77,13.94a433.43,433.43,0,0,0-47.58,58.35c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L83,195.68c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5a197.65,197.65,0,0,1,16.18-12.81,124.29,124.29,0,0,1,16.8-10.13A72.83,72.83,0,0,1,197,75c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24A40.5,40.5,0,0,1,213,75.77a26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.52,16.52,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M288.92,105.86l-2.17-2.15c-.67-.73-1.52-1.66-2.47-2.81a23,23,0,0,1-2.91-4.45c-.21-.5-.45-1-.63-1.57s-.34-1.23-.46-1.63a1.25,1.25,0,0,0-.09-.21.44.44,0,0,0,0,.24,3.3,3.3,0,0,0,.44.89c.14.11,0,.07,0,.08h-.13l-.63-.1-1.56-.25-.85-.14-.43-.07-.11,0h-.05s-.16,0,.07,0l-.22,0-1.81-.24L274,93.3l-.82,0-1.65-.07h-1.79a17.1,17.1,0,0,0-1.84.07c-.62,0-1.24.07-1.87.14a18.32,18.32,0,0,1-3.86,0,28.13,28.13,0,0,0-4.08.1,66.77,66.77,0,0,0-8.71,1.43,82.61,82.61,0,0,0-9.24,2.8A119.31,119.31,0,0,0,220.9,107a189.55,189.55,0,0,0-19.22,13c-6.33,4.83-12.53,10.09-18.55,15.57a398.55,398.55,0,0,0-33.28,34.55c-10,11.65-18.75,23-25.86,33-.88,1.26-1.79,2.45-2.55,3.71a15.45,15.45,0,0,1-2.56,3.45c-2,2-3.77,4-5.49,5.89-3.42,3.73-6.41,7-8.83,9.76L99,232.4l-2,2.31.87-2.92c.62-1.88,1.48-4.69,2.81-8.16s2.94-7.7,5-12.45c1-2.38,2.2-4.88,3.44-7.51a16.12,16.12,0,0,1,1-1.94c.4-.62.88-1.19,1.35-1.79.93-1.19,1.78-2.48,2.71-3.76,7.31-10.27,16.27-21.93,26.53-33.88A410.45,410.45,0,0,1,175,126.71c6.24-5.69,12.7-11.17,19.35-16.24a201.47,201.47,0,0,1,20.43-13.85A131.21,131.21,0,0,1,236,86.45a94.55,94.55,0,0,1,10.62-3.22A78.65,78.65,0,0,1,257,81.53c1.71-.11,3.38-.21,5-.29a15.84,15.84,0,0,1,4.85.25c.78.18,1.55.39,2.3.58s1.49.4,2.21.65l2.11.7,2.1.83,1,.42.84.43,1.63.83.2.1c.27.09.1,0,.17.07l0,0,.1.05.39.22.77.43,1.59.9.87.52.57.38a5.55,5.55,0,0,1,.64.5,5.79,5.79,0,0,1,.77.82,5.33,5.33,0,0,1,.64,1.26,7.84,7.84,0,0,1,.17,1c0,.23,0,.36,0,.54,0,.6-.1.9-.13,1.29s0,.76,0,1.15l.12,1.17.22,1.15c.13.75.36,1.46.52,2.14.38,1.33.77,2.46,1.1,3.4Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M276.91,129.31l-1.74-1.88c-.52-.66-1.24-1.45-1.95-2.49a15.82,15.82,0,0,1-2.17-4,11.49,11.49,0,0,1-.4-1.4c0-.21-.09-.5-.14-.65l-.07-.2s0,.12,0,.17v.07a1.22,1.22,0,0,0,0,.17,1.29,1.29,0,0,0,.14.32,1.62,1.62,0,0,1,.14.24.94.94,0,0,0,.14.18c.17.14.09.12.08.14s0,0-.06,0l-1.1-.12-1.37-.16-.18,0h0c.23.07,0,0,.08,0h-.09l-.37,0-.74-.07a16.19,16.19,0,0,0-2.72,0,32.83,32.83,0,0,0-5.82.79,13.41,13.41,0,0,1-3.13.33,21.44,21.44,0,0,0-3.32.47,62,62,0,0,0-14.48,5.2,113.42,113.42,0,0,0-15.31,9.24A186.75,186.75,0,0,0,207,147.71c-5,4.39-10,9.09-14.77,13.94A433.43,433.43,0,0,0,144.66,220c-.72,1.07-1.45,2.09-2.07,3.15-.31.53-.59,1.07-.94,1.56a11.72,11.72,0,0,1-1.16,1.36L135.87,231c-2.88,3.13-5.41,5.87-7.46,8.16l-6.47,7.28.68-2.47c.49-1.59,1.15-4,2.19-6.9s2.29-6.53,3.93-10.56c.81-2,1.72-4.14,2.69-6.39a11.56,11.56,0,0,1,1.92-3.16c.77-1,1.45-2.1,2.21-3.18a444.21,444.21,0,0,1,48.84-59.88c5-5,10.09-9.9,15.36-14.5A197.66,197.66,0,0,1,216,126.62a124.3,124.3,0,0,1,16.8-10.13,72.83,72.83,0,0,1,17.1-6.11c1.43-.27,2.83-.5,4.22-.74a12.44,12.44,0,0,1,4.14-.24,40.5,40.5,0,0,1,7.61,1.71,26,26,0,0,1,3.26,1.34l.67.33.33.16.08,0,.17.06,0,0,.16.09,1.29.71.66.37.76.44.52.34a4.46,4.46,0,0,1,.62.49c.13.13.26.26.38.39a2.35,2.35,0,0,1,.34.48,4.62,4.62,0,0,1,.28.61c0,.1.07.21.11.31a2.05,2.05,0,0,1,0,.22,5,5,0,0,1,.06.79l0,.41c0,.26-.07.37-.11.56a6.87,6.87,0,0,0-.14.92,5.86,5.86,0,0,0,0,.95,6.14,6.14,0,0,0,.06.95,16.51,16.51,0,0,0,.24,1.8c.18,1.15.46,2.1.64,2.91Z' transform='translate(-44.16 -45.81)')
            path.logo-emblem-solo(d='M75.5,74.7s1.18.54,3.35,1.62,5.38,2.62,9.35,4.75,8.87,4.59,14.34,7.64l8.76,4.78c3.08,1.68,6.27,3.52,9.63,5.4l10.4,6,11.07,6.47c7.57,4.48,15.53,9.23,23.7,14.26,4.11,2.48,8.23,5.08,12.42,7.71l6.33,4,6.35,4.12c4.25,2.8,8.57,5.58,12.9,8.73,2.18,1.58,4.37,3.2,6.72,5.17A38.57,38.57,0,0,1,214.7,159a18.84,18.84,0,0,1,2.58,3.66,13.89,13.89,0,0,1,1.4,4,12.52,12.52,0,0,1-.74,7c-.12.29-.26.58-.4.87.37-.52-1,1.73-.88,1.47l-.14.19s-.41.54-.61.77-.55.61-.84.89-.68.62-.83.73l-.58.44a12.09,12.09,0,0,1-1.17.75c-.35.19-.71.38-1.08.54s-.63.26-1,.39-.64.22-.91.3a17.46,17.46,0,0,1-4.87.66,32.06,32.06,0,0,1-5.78-.59,78.06,78.06,0,0,1-8.62-2.21c-5.32-1.63-10.2-3.6-15-5.54s-9.47-4-14-6.12-9-4.21-13.35-6.38c-8.69-4.29-16.95-8.66-24.71-12.91s-15-8.43-21.65-12.36c-3.31-2-6.5-3.86-9.48-5.74l-8.47-5.32c-5.33-3.3-9.87-6.39-13.63-8.89s-6.65-4.59-8.64-6-3-2.18-3-2.18l.54-1.07,12.61,6.24c8,4,19.53,9.55,33.33,16.26s30,14.4,47.48,22.19c8.76,3.89,17.85,7.81,27.22,11.43,4.68,1.8,9.44,3.54,14.27,5a67.4,67.4,0,0,0,7.29,1.82,21,21,0,0,0,3.59.37,6,6,0,0,0,1.57-.19,1.72,1.72,0,0,0,.5-.23c.1-.06,0,0,.08,0l.14-.2c0-.06-.1.14,0,0v0a.51.51,0,0,0,0-.27,2.09,2.09,0,0,0-.21-.55,7.49,7.49,0,0,0-1-1.32,27.79,27.79,0,0,0-2.64-2.54c-1.9-1.62-3.92-3.15-6-4.65-4.09-3-8.27-5.87-12.42-8.7l-24.52-16.52c-15.93-10.7-30.75-20.75-43.41-29.44S93.64,88.95,86.31,83.81L74.82,75.68Z' transform='translate(-44.16 -45.81)')
        // Site Brand Name
        span.name Arshin
    // Navigation
    nav#product-header-navigation.product-header-navigation(data-content-field='products')
      ul
    a.login.button.light.knockout.is--invisible.is--transparent(href='') Collaborate
  // End Header Content
// End Header
span#hero.march-2016
  #hero-carousel-images.hero-images(style='background-color: #e2e2e2;')
    .hero-image.background-video.you-should.overview
      .mobile-image
        noscript(data-src='//images/assets/initiate/A.jpg')
        noscript(data-src='//images/assets/initiate/B.jpg')
        noscript(data-src='//images/assets/initiate/C.jpg')
        noscript(data-src='//images/assets/initiate/D.jpg')
        noscript(data-src='//images/assets/initiate/A.jpg')
        noscript(data-src='//images/assets/initiate/A.jpg')
      .video
        video(autobuffer='true' loop='true' muted='true' data-poster='images/assets/initiate/G.jpg' data-src='')
      .scrim
    // Background Images for Carousel below
    .hero-image.coverpages.is--active.is--loaded(style='background-image: url("https://photos.smugmug.com/Portfolio/i-L4nRtbh/0/X3/trey-ratcliff-road-to-paradise-X3.jpg");' data-image='/assets/blocks/heroes/hero-march-2016/coverpage.jpg')
      .scrim
    // End Section
  // Carousel - Main Section
  #hero-carousel-content
    .copy-carousel
      ol.copy-carousel-slides
        // Main Text
        li.copy-carousel-slide.coverpages.is--active
          .text-lockup
            h1 My Projects
            p
              span I have&nbsp;developed and designed on a wide variety of platforms.
              br
              span Solving&nbsp;Problems&nbsp;through&nbsp;Technology&nbsp;and&nbsp;Innovation.
            // <a href="http://www.arshin.me/" class="sqs-block-button-element--medium sqs-block-button-element cta">Get Started</a>
  a#hero-arrow(href='#')
// End Carousel
// Sub Navigation Bar
nav#detail-nav.nav-home-subnav(data-sticky='')
  a.logo(href='../Production J/index.html')
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 29.5 24')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M18.5 6.5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-9.3 9.3c-1.3 1.3-3.5 1.3-4.8 0-.6-.6-1-1.5-1-2.4s.4-1.8 1-2.4l7.5-7.5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0L1.7 8.2c-2.1 2.1-2.1 5.5 0 7.6 1 1 2.4 1.6 3.8 1.6s2.7-.5 3.8-1.6l9.2-9.3zM4.8 12.7c.2.2.4.3.7.3.2 0 .5-.1.7-.3l9.3-9.3c.6-.6 1.5-1 2.4-1 .9 0 1.8.4 2.4 1 .4.4 1 .4 1.4 0 .3-.4.3-1-.1-1.4-1-1-2.4-1.6-3.8-1.6S15 1 14 2l-9.3 9.3c-.3.4-.3 1 .1 1.4zm23-4.5c-2.1-2.1-5.5-2.1-7.6 0L11 17.5c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l9.3-9.3c.6-.6 1.5-1 2.4-1s1.8.4 2.4 1c1.3 1.3 1.3 3.5 0 4.8L19 21.9c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.2 0 .5-.1.7-.3l7.5-7.5c2-2.1 2-5.5-.1-7.6zm-3.1 3.1c-.4-.4-1-.4-1.4 0L14 20.6c-1.3 1.3-3.5 1.3-4.8 0-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4 1 1 2.4 1.6 3.8 1.6s2.7-.5 3.8-1.6l9.3-9.3c.4-.4.4-1 0-1.4z')
// End Sub - Navigation bar
// Project A
// CSS
link#stylesheet(rel='stylesheet' href='stylesheets/projects.css')
// CSS Ends
span#tibbit-talk-project-large.march-2016(style='display: none; visibility: hidden;')
  #hero-carousel-images.hero-images(style='background-color: #e2e2e2;')
    .hero-image.background-video.you-should.overview
      .mobile-image
        noscript(data-src='//images/assets/initiate/A.jpg')
        noscript(data-src='//images/assets/initiate/B.jpg')
        noscript(data-src='//images/assets/initiate/C.jpg')
        noscript(data-src='//images/assets/initiate/D.jpg')
        noscript(data-src='//images/assets/initiate/A.jpg')
        noscript(data-src='//images/assets/initiate/A.jpg')
      .video
        video(autobuffer='true' loop='true' muted='true' data-poster='images/assets/initiate/G.jpg' data-src='')
      .scrim
    // Background Images for Carousel below
    .hero-image.coverpages.is--active.is--loaded(style='background-image: url("images/portfolio/Tibbit-Talk.png");' data-image='/assets/blocks/heroes/hero-march-2016/coverpage.jpg')
      .scrim
    // End Section
  // Carousel - Main Section
  #hero-carousel-content
    .copy-carousel
      ol.copy-carousel-slides.project-right-slide
        // Main Text
        li.copy-carousel-slide.coverpages.is--active
          .text-lockup
            h1 Tibbit Talk
            p
              span Redefining&nbsp;communication for the 21st century.
              br
              span Beautifully&nbsp;redesigned&nbsp;for&nbsp;students.
            // <a href="http://www.arshin.me/" class="sqs-block-button-element--medium sqs-block-button-element cta">Get Started</a>
  a#hero-arrow(href='#')
// End Carousel
// Sub Navigation Bar
nav#detail-nav.nav-home-subnav.nav-tibbittalk-subnav(style='display: none; visibility: hidden;' data-sticky='')
  a.logo(href='http://www.arshin.me/')
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 29.5 24')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M18.5 6.5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-9.3 9.3c-1.3 1.3-3.5 1.3-4.8 0-.6-.6-1-1.5-1-2.4s.4-1.8 1-2.4l7.5-7.5c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0L1.7 8.2c-2.1 2.1-2.1 5.5 0 7.6 1 1 2.4 1.6 3.8 1.6s2.7-.5 3.8-1.6l9.2-9.3zM4.8 12.7c.2.2.4.3.7.3.2 0 .5-.1.7-.3l9.3-9.3c.6-.6 1.5-1 2.4-1 .9 0 1.8.4 2.4 1 .4.4 1 .4 1.4 0 .3-.4.3-1-.1-1.4-1-1-2.4-1.6-3.8-1.6S15 1 14 2l-9.3 9.3c-.3.4-.3 1 .1 1.4zm23-4.5c-2.1-2.1-5.5-2.1-7.6 0L11 17.5c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l9.3-9.3c.6-.6 1.5-1 2.4-1s1.8.4 2.4 1c1.3 1.3 1.3 3.5 0 4.8L19 21.9c-.4.4-.4 1 0 1.4.2.2.4.3.7.3.2 0 .5-.1.7-.3l7.5-7.5c2-2.1 2-5.5-.1-7.6zm-3.1 3.1c-.4-.4-1-.4-1.4 0L14 20.6c-1.3 1.3-3.5 1.3-4.8 0-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4 1 1 2.4 1.6 3.8 1.6s2.7-.5 3.8-1.6l9.3-9.3c.4-.4.4-1 0-1.4z')
  ul
    li
      a(href='#' name='iOS App') &nbsp;
    li
      a.is-active(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' name='Build a Website')
        img(style='height: 35px; padding-bottom: 10px;' src='images/logo/appstorelogo.svg')
    li
      a(name='Beautifully Designed Product') &nbsp;
    li
      a(name='Built with Industry Standard Objective-C' data-visited='/tour/cover-page/') Objective-C
    li
      a(name='Reliable and Fast NodeJS Server' data-visited='/tour/cover-page/') NodeJS
    li
      a(name='Blazingly Fast Queries with MongoDB' data-visited='/tour/cover-page/') MongoDB
    li
      a(name='With the power os Adobe Creative Suite' data-visited='/tour/cover-page/') Adobe Illustrator
    li
      a(name='A beautiful touch of lavendar with an elegant design' data-visited='/tour/cover-page/') Adobe Experience Design
// Project A Ends
// Projects List
// page containers
#page-container-1.page-container.hide(style='')
#page-container-2.page-container.page-trans-in
  .wrapper-1180
    // Project Showcase
    section#webdesign-projects.project-items.clearfix
      // Tibbit Talk
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' title='Tibbit Talk')
              // http://www.arshin.me/projects/ios/tibbit-talk
              img.lazy(alt='' src='images/portfolio/Tibbit-Talk.png' style='display: block;')
          .content
            h3
              a(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' title='')
                | Fibbit Talk
                small Changing the way we Talk
            a.link(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Tibbit-Talk.png");')
            .overlay-content
              h3
                a(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' title='')
                  | Fibbit Talk
                  small Changing the way we Talk
              a.link(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' title='') View project
          a.full-link(href='https://itunes.apple.com/us/app/tibbit-talk/id1059206602' title='')
      // Tibbit Talk Description Ends
      // Tibbit Dreams Project
      .animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://itunes.apple.com/us/app/tibbit-dreams/id1099287955' title='')
              img.lazy(alt='' src='images/portfolio/Tibbit-Dreams.png' style='display: block;')
          .content
            h3
              a(href='https://itunes.apple.com/us/app/tibbit-dreams/id1099287955/' title='')
                | Tibbit Dreams
                small Learn about your Inner Self
            a.link(href='https://itunes.apple.com/us/app/tibbit-dreams/id1099287955' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Tibbit-Dreams.png");')
            .overlay-content
              h3
                a(href='https://itunes.apple.com/us/app/tibbit-dreams/id1099287955' title='')
                  | Tibbit Dreams
                  small Learn about your Inner Self
              a.link(href='https://itunes.apple.com/us/app/tibbit-dreams/id1099287955/' title='') View project
          a.full-link(href='https://itunes.apple.com/us/app/tibbit-dreams/id1099287955' title='')
      // Tibbit Dreams Description Ends
      // ClickED Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in.fadeInUp(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='http://web.stanford.edu/class/cs194h/projects/clickED/' title='')
              img.lazy(alt='' src='images/portfolio/clicked.jpg' style='display: block;')
          .content
            h3
              a(href='http://web.stanford.edu/class/cs194h/projects/clickED/' title='')
                | ClickED
                small See the Questions behind their Masks
            a.link(href='http://web.stanford.edu/class/cs194h/projects/clickED/' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/clicked.jpg");')
            .overlay-content
              h3
                a(href='http://web.stanford.edu/class/cs194h/projects/clickED/' title='')
                  | ClickED
                  small See the Questions behind their Masks
              a.link(href='http://web.stanford.edu/class/cs194h/projects/clickED/' title='') View project
          a.full-link(href='http://web.stanford.edu/class/cs194h/projects/clickED/' title='')
      // ClickED Project Description Ends
      // Fun Quotes Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in.fadeInUp(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://itunes.apple.com/us/app/fun-quotes-new-literary-device/id1005422822' title='')
              img.lazy(alt='' src='images/portfolio/Fun-Quotes.png' style='display: block;')
          .content
            h3
              a(href='https://itunes.apple.com/us/app/fun-quotes-new-literary-device/id1005422822' title='')
                | Fun Quotes
                small Your Daily Inspiration
            a.link(href='https://itunes.apple.com/us/app/fun-quotes-new-literary-device/id1005422822' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Fun-Quotes.png");')
            .overlay-content
              h3
                a(href='https://itunes.apple.com/us/app/fun-quotes-new-literary-device/id1005422822' title='')
                  | Fun Quotes
                  small Your Daily Inspiration
              a.link(href='https://itunes.apple.com/us/app/fun-quotes-new-literary-device/id1005422822' title='') View project
          a.full-link(href='https://itunes.apple.com/us/app/fun-quotes-new-literary-device/id1005422822' title='')
      // Fun Quotes Project Description Ends
      // BookTalk Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://teacherfund.herokuapp.com' title='')
              img.lazy(alt='' src='images/portfolio/BookTalk.jpg' style='display: block;')
          .content
            h3
              a(href='https://teacherfund.herokuapp.com' title='')
                | BookTalk
                small Connecting People with Knowledge
            a.link(href='https://teacherfund.herokuapp.com' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/BookTalk.jpg");')
            .overlay-content
              h3
                a(href='https://teacherfund.herokuapp.com' title='')
                  | BookTalk
                  small Connecting People with Knowledge
              a.link(href='https://teacherfund.herokuapp.com' title='') View project
          a.full-link(href='https://teacherfund.herokuapp.com' title='')
      // BookTalk Project Description Ends
      // Fun Facts Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='' title='')
              img.lazy(alt='' src='images/portfolio/Fun-Facts.jpg' style='display: block;')
          .content
            h3
              a(href='' title='')
                | Fun Facts
                small Learn Interesting Things about our World
            a.link(href='' title='') Coming Soon
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Fun-Facts.jpg");')
            .overlay-content
              h3
                a(href='' title='')
                  | Fun Facts
                  small Learn Interesting Things about our World
              a.link(href='' title='') Coming Soon
          a.full-link(href='' title='')
      // Fun Facts Project Description Ends
      // TweetChat Project Description Ends
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y
        article.project-item
          figure.fig
            a(href='https://convivial.herokuapp.com' title='Chirp')
              img.lazy(alt='' src='images/portfolio/Chirp.png' style='display: block;')
          .content
            h3
              a(href='https://convivial.herokuapp.com' title='')
                | Chirp
                small Simple Conversational Pieces
            a.link(href='https://convivial.herokuapp.com' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Chirp.png");')
            .overlay-content
              h3
                a(href='https://convivial.herokuapp.com' title='')
                  | Chirp
                  small Simple Conversational Pieces
              a.link(href='https://convivial.herokuapp.com' title='') View project
          a.full-link(href='https://convivial.herokuapp.com' title='')
      // TweetChat Project Description Ends
      // A Quote by Bill Gates
      .animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in(style='visibility: visible;')
        .full-quote.fixed
          .content.center-vertical
            blockquote.quote
              | &quot;I believe that if you show people the problems and you show them the solutions, they will be moved to act.&quot;
            cite.cite Bill Gates
      // Quote Ends
      // Delicio Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y
        article.project-item
          figure.fig
            a(href='http://devpost.com/software/delicio' title='')
              img.lazy(alt='' src='images/portfolio/Delicio.png' style='display: block;')
          .content
            h3
              a(href='http://devpost.com/software/delicio' title='')
                | Delicio
                small Food Recognition and Recipe Suggestion Augmented Reality App
            a.link(href='http://devpost.com/software/delicio' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Delicio.png");')
            .overlay-content
              h3
                a(href='http://devpost.com/software/delicio' title='')
                  | Delicio
                  small Food Recognition and Recipe Suggestion Augmented Reality App
              a.link(href='http://devpost.com/software/delicio' title='') View project
          a.full-link(href='http://devpost.com/software/delicio' title='')
      // Delicio Project Description Ends
      // ConferenceVR Project Description
      .animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='' title='')
              img.lazy(alt='' src='images/portfolio/ConferenceVR.jpg' style='display: block;')
          .content
            h3
              a(href='' title='')
                | ConferenceVR
                small Interact Professionally Around the World in Virtual Reality
            a.link(href='' title='') Coming Soon
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/ConferenceVR.jpg");')
            .overlay-content
              h3
                a(href='' title='')
                  | ConferenceVR
                  small Interact Professionally Around the World in Virtual Reality
              a.link(href='' title='') Coming Soon
          a.full-link(href='' title='')
      // ConferenceVR Project Description Ends
      // Monster Slide Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://itunes.apple.com/us/app/monster-slide-icy-delight/id1000451625' title='')
              img.lazy(alt='' src='images/portfolio/Monster-Slide.png' style='display: block;')
          .content
            h3
              a(href='https://itunes.apple.com/us/app/monster-slide-icy-delight/id1000451625' title='')
                | Monster Slide
                small Help Dennis Navigate the Slopes!
            a.link(href='https://itunes.apple.com/us/app/monster-slide-icy-delight/id1000451625' title='') View Project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Monster-Slide.png");')
            .overlay-content
              h3
                a(href='https://itunes.apple.com/us/app/monster-slide-icy-delight/id1000451625' title='')
                  | Monster Slide
                  small Help Dennis Navigate the Slopes!
              a.link(href='https://itunes.apple.com/us/app/monster-slide-icy-delight/id1000451625' title='') View Project
          a.full-link(href='https://itunes.apple.com/us/app/monster-slide-icy-delight/id1000451625""' title='')
      // Monster Slide Project Description Ends
      // Washington High Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in.fadeInUp(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://itunes.apple.com/us/app/washington-high/id643210103' title='')
              img.lazy(alt='' src='images/portfolio/Washington-High.jpg' style='display: block;')
          .content
            h3
              a(href='https://itunes.apple.com/us/app/washington-high/id643210103' title='')
                | Washington High
                small Easy Access to School Resources
            a.link(href='https://itunes.apple.com/us/app/washington-high/id643210103' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Washington-High.jpg");')
            .overlay-content
              h3
                a(href='https://itunes.apple.com/us/app/washington-high/id643210103' title='')
                  | Washington High
                  small Easy Access to School Resources
              a.link(href='https://itunes.apple.com/us/app/washington-high/id643210103' title='') View project
          a.full-link(href='https://itunes.apple.com/us/app/washington-high/id643210103' title='')
      // Washington High Project Description Ends
      // Let's Do It Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in.fadeInUp(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='https://itunes.apple.com/us/app/lets-do-it-motivates-you-to/id1141253107' title='')
              img.lazy(alt='' src='images/portfolio/LetsDoIt.png' style='display: block;')
          .content
            h3
              a(href='https://itunes.apple.com/us/app/lets-do-it-motivates-you-to/id1141253107' title='')
                | Let&apos;s Do It
                small Do More, but in a Better Way
            a.link(href='https://itunes.apple.com/us/app/lets-do-it-motivates-you-to/id1141253107' title='') View project
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/LetsDoIt.png");')
            .overlay-content
              h3
                a(href='https://itunes.apple.com/us/app/lets-do-it-motivates-you-to/id1141253107' title='')
                  | Let&apos;s Do It
                  small Do More, but in a Better Way
              a.link(href='https://itunes.apple.com/us/app/lets-do-it-motivates-you-to/id1141253107' title='') View project
          a.full-link(href='https://itunes.apple.com/us/app/lets-do-it-motivates-you-to/id1141253107' title='')
      // Washington High Project Description Ends
      // PokeFacts Project Description Ends
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y
        article.project-item
          figure.fig
            a(href='' title='Tweet Chat')
              img.lazy(alt='' src='images/portfolio/Pokemon.jpg' style='display: block;')
          .content
            h3
              a(href='' title='')
                | PokeFacts
                small Discover more about Pokemon
            a.link(href='' title='') Coming Soon
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Pokemon.jpg");')
            .overlay-content
              h3
                a(href='' title='')
                  | PokeFacts
                  small Discover more about Pokemon
              a.link(href='' title='') Coming Soon
          a.full-link(href='' title='')
      // PokeFacts Project Description Ends
      // ClickED Web Project Description
      .wow.animated.fadeInUp.grid-col-33.col.fx.fx-fade-y.fx-in.fadeInUp(style='visibility: visible;')
        article.project-item
          figure.fig
            a(href='http://www.purplelotustemple.com/purplelotusschool/' title='')
              img.lazy(alt='' src='images/portfolio/Purple-Lotus-School.png' style='display: block;')
          .content
            h3
              a(href='http://www.purplelotustemple.com/purplelotusschool/' title='')
                | Purple Lotus
                small Encouraging Learning through Mobile
            a.link(href='http://www.purplelotustemple.com/purplelotusschool/' title='') Coming Soon
          .overlay
            .overlay-fig
              figure.overlay-fig-img.cover.lazy(style='display: block; background-image: url("images/portfolio/Purple-Lotus-School.png");')
            .overlay-content
              h3
                a(href='http://www.purplelotustemple.com/purplelotusschool/' title='')
                  | Purple Lotus
                  small Encouraging Learning through Mobile
              a.link(href='http://www.purplelotustemple.com/purplelotusschool/' title='') Coming Soon
          a.full-link(href='' title='')
      // ClickED Web Project Description Ends
    // Projects Section End
    // Footer
    section#footerx.animated.fadeIn.cta-text.fx.fx-fade-y.fx-in(style='visibility: visible;')
      .inner
        h2
          i Working on
          |  interesting
          i Projects
        .wysi
          p You have a project in mind? Let&rsquo;s work on it together.
          a.btn.yellow.track-btn(href='mailto:arshin.jain@gmail.com' title='Contact Arshin' data-label='CTA Webdsign')
            span Contact Arshin
// Page transition Loader
#page-loader.page-loader(style='')
  svg.logo(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 196 196' enable-background='new 0 0 196 196' xml:space='preserve')
    polygon(fill='#ffffff' points='132.6986847,124.0598907 90.1761246,46.2914467 74.3466492,46.2914467 135.1800079,157.4495544\
    173,46.2914467 159.2958984,46.2914467 ')
    polygon(fill='#ffffff' points='113.7835083,60.8589363 121.7577896,46.2914467 105.8750763,46.2914467 105.8698425,46.3029938 ')
    polygon(fill='#ffffff' points='60.9243126,157.4495544 90.1980362,103.961937 82.2675858,89.3548965 63.2448692,124.0202332\
    36.8105736,46.2914467 23,46.2914467 ')
  svg#page-loader-svg.page-loader-circle(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 300 300' enable-background='new 0 0 300 300' xml:space='preserve')
    circle.circle(fill='none' stroke='#C49D33' stroke-width='2' stroke-miterlimit='10' cx='150.5' cy='150.5' r='101.5')
    circle#page-loader-percentage.percentage(fill='none' stroke='#FFFFFF' stroke-width='6' stroke-miterlimit='10' cx='150.5' cy='150.5' r='101.5' style='')
  span.msg Loading...
script(src='js/jquery.min.js')
script.
  window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\\/script>')
// Projects List Ends
// Script
script(type='text/javascript').
  console.clear();
