/* Styles */

/* Base Styling */
body {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

.navigation-bar { /* Basic Bar Setup */
  background-color: #fff;
  height: 167px;
  width: 100%;
  text-align: center;
  padding-top: 5%;
}

/* Organize navbar elements */
.brand-logo {
  float: left;
  margin-left: 10%;
  height: 50%;
}

.nav-items {
  float: right;
}

.navigation-bar ul { /* ul: remove unnecessary formatting */
  padding: 0px;
  padding-right: 30px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navigation-bar li /* li: remove unnecessary formatting */ {
  list-style-type: none;
  padding: 10px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

/* Content */
.left-section {
  width: 50%;
  padding-left: 15%;
  text-align: left;
}


.right-section {
  width: 50%;
}
