/* Styles */

/* Base Styling */
html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
}

/* Heading */
header {
  text-align: center;
  margin-top: 2%;
}

/* Content - Two Columns */
.left-section {
  float: left;
  width: 50%;

}
.right-section {
  float: right;
  width: 100%;
  margin-right: -50%;
}
#cleared {
  clear: both;
}
